/*  your css code here. If applicable */
*
{
    background-color: rgba(85, 84, 84, 0.327);
    padding:0px;
    border:0px solid black
}

div{
    background-color: white;
   text-align: left;
    
}
#d1
{
    padding: 15px;
    margin: 10px;
}
#i1
{

font-style: italic;
text-align: right;
}