/*  your css code here. If applicable */
body
{
    background-color: rgba(85, 84, 84, 0.327);
}
#i1
{

font-style: italic;
align-self: self-end;
}
div{
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
#d1
{
    padding: 15px;
    margin: 10px;
}